<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </div>
</nav>
<h1 class="pruebaColor">Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>


<button onclick="uniToggleShow()">prueba1</button>
<button onclick="uniToggleHide()">prueba2</button>